:root {
	--text: #fff;
	--bg: #303030;
	--border: #646464;
	--accent: #64e1f5;
	--accent-bg: #4b0179;
	--accent-border-1: #b141b9;
	--accent-border-2: #89d583;

	--sans: normal 400 1rem "BIZ UDPMincho", serif;
	--sans-bold: normal 700 1rem "BIZ UDPMincho", serif;
}
* {
	font-family: var(--sans);
	box-sizing: border-box; /* makes sure width and height include padding and border */
	margin: 0;
	padding: 0;
	color: var(--text);
	background: var(--bg);
	text-align: left;
}

h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
	font-weight: 300;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
p {
	font-size: 16px;
}
span {
	font-size: 14px;
}
button {
	border: 3px solid var(--accent-border-1);
	border-radius: 10px;
	height: 45px;
	padding: 0 16px;
	margin-left: 16px;
}
main {
	min-height: calc(100vh - 210px); /* 100vh minus header (70px) and footer (140px) */
}
section {
	margin-bottom: 64px;
}
header,
footer {
	background-color: var(--accent-bg);
}
header {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	img {
		height: 45px;
		background-color: transparent;
		margin-top: 8px;
	}
	button {
		font-size: 16px;
		background: transparent;
	}
}
footer {
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	p {
		background: transparent;
	}
}
main.register,
main.login {
	margin: 64px auto 0 auto;
	align-items: center;
	max-width: 400px;

	h1 {
		margin-bottom: 32px;
	}
	label {
		display: block;
		padding: 16px;
		padding-left: 0;
		font: var(--sans-bold);
		width: 100%;
		font-size: 20px;
		text-align: left;
	}
	input {
		border: 3px solid var(--border);
		height: 50px;
		padding: 0;
		width: 100%;
		text-align: left;
		padding: 0 16px;
	}
	button {
		margin-top: 16px;
		height: 60px;
		width: 100%;
		font-size: 20px;
	}
	p {
		margin: 16px 0 64px 0;
		font-size: 20px;
		a {
			color: var(--accent);
		}
	}
}

.profile_pic {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	border: 3px solid var(--accent-border-2);
	margin: 16px auto;
}

.grid_container {
	display: grid;
	grid-template-rows: 1fr;
	gap: 32px;
	align-items: left;
}
.grid_item {
	display: flex;
}

.profile_header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 16px;
	max-width: 1024px;
	border-bottom: 3px solid var(--accent-border-1);
	border-radius: 8px;
	margin: 0 auto 8px;
	span {
		align-items: baseline;
		display: flex;
		flex-direction: column;
		justify-content: end;
		margin-bottom: 16px; /* Same Value as Padding (Profile Header) */
		margin-left: 32px;
	}
}
.profile_info {
	max-width: 1024px;
	margin: 16px auto;
	.bio {
		max-width: 600px;
		h3 {
			text-align: left;
		}
	}
}
.blog_posts {
	max-width: 1024px;
	margin: 64px auto;
}
.blog_posts_img {
	width: 200px;
	height: 150px;
	object-fit: cover;
	border: 3px solid var(--accent-border-2);
	border-radius: 32px 16px 0 16px;
	margin-right: 32px;
}
.about_post {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 16px 0;
}
